body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;

  }
  p {font-size: 16px;}
  .HomeP{
    font-size: 16px;
    color: #2f2f2f;
    margin-left: 30px;
  }
  .margin {margin-bottom: 45px;}
  .contact{
    margin-left: 45px;
    width:80%;
    size:50;
    color:white; 
    align:left;}
  .contact1{
    margin-left: 70px;
    font-size: 16px;}

  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;

  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .bg-5 { 
    background-color: #00A388; /* เขียวเข้ม */
    color: #fff;
  }
  .bg-6 { 
    background-color: #79BD8F; /* setเขียว */
    color: #fff;
  }
  .bg-7 { 
    background-color: #BEEB9F; /* setเขียว */
    color: #000;
  }
  .bg-8 { 
    background-color: #FFFF9D; /* setเขียว */
    color: #000;
  }
  .container-fluid {
    padding-top: 50px;
    padding-bottom: 5px;
  }
  
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

.navbar-brand {
  /* ปรับรูปlogoให้อยู่ในnavbar พอดี*/ 
  padding-bottom: 15px; /* firefox bug fix */
  padding-top: 0px;
}
.navbar-brand>img {
  height: 60px;
  width: 60px;
}
video {
  width: 80%;
  height: auto;
}
.imghover {

display: block;
width: 350px;
height: 350px;
background: url('img/1.jpg');
text-indent: -99999px;

}

.imghover:hover {

background-position: 0 -60px;

}